pre {
	background-color: white;
	border-color: white;
	font-family: serif;
	font-size: 16px;
}

.tooltipright {
	position: relative;
	display: inline-block;
}

.tooltipright .tooltiptextright {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 110%;
}

.tooltipright .tooltiptextright::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;
}

.tooltipright:hover .tooltiptextright {
	visibility: visible;
}

.tooltipleft {
    position: relative;
    display: inline-block;
}

.tooltipleft .tooltiptextleft {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
}

.tooltipleft .tooltiptextleft::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.tooltipleft:hover .tooltiptextleft {
    visibility: visible;
}